<link rel = "stylesheet" href = "/app.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>
<h1>HOUSE</h1>


<p class = 'lead'> The house address is: <strong><%=houseData.address%></strong>.</p>
<p class = 'lead'> The house is posted by user_id: <strong><%=houseData.user_id%></strong>.</p>

<form action="/user/<%=houseData.user_id%>/housing/<%=houseData.housing_id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
</form>

<form action="/user/<%=houseData.user_id%>/housing/<%=houseData.housing_id%>?_method=PUT" method="POST">
    <input type = "text" name = "address" class = "form" placeholder = "address">
    <button>UPDATE</button>
</form>